/* LINKS */

a:link {
    color: var(--accent);
}
a:visited {
    color: var(--accent);
}
a:hover {
    color: rgb(212, 111, 212);
}

/* TEXT INPUTS */

form .text-inputs {
    display: flex;
    gap: 40px;
}
.left-text, .right-text {
    list-style-type: none;

    width: 45%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
li.text-input {
    display: flex;
    flex-direction: column;
    gap: 3px;
}
.text-input input {
    color: var(--accent);
    border: 2px solid var(--main);
    border-radius: 10px;
    width: 90%;
    padding: 5px 5px 0px 5px;
}
.text-input input.invalid {
    border: 2px solid var(--red);
}
input.invalid + .error-symbol::before {
    content: "✗";
    color: var(--red);
}
.text-input .error-msg {
    background-color: var(--acc-light);
    border-radius: 5px;

    width: fit-content;
    max-width: 90%;
    padding: 2px 5px 2px 5px;
}
.text-input .error-msg:empty {
    visibility: hidden;
}

/* RADIO INPUTS */

form .radio-inputs {
    border: 2px solid var(--main);
    padding: 20px;

    display: flex;
    gap: 40px;
}
.radio-input input {
    accent-color: var(--accent);
}


/* BUTTON */

form button {
    color: var(--text);
    background-color: var(--main-light);
    border: 1px solid var(--text);
    border-radius: 10px;
    box-shadow: 0 4px var(--acc-light);

    width: 40%;
    padding: 10px;

    align-self: center;
}
form button:hover {
    background-color: var(--main);
}
form button:active {
    transform: translate(0,4px);
    box-shadow: none;
}

/* SHAKE ANIMATION */

.shake {
    animation: shake 0.3s;
}

@keyframes shake {
    0% { transform: translateX(0) }
    25% { transform: translateX(30px) }
    50% { transform: translateX(-30px) }
    75% { transform: translateX(30px) }
    100% { transform: translateX(0) }
  }