/* MAIN / BODY */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inconsolata';
    color: rgb(157, 95, 40);
    background-color: pink;

    height: 100vh;
    display: flex;
    gap: 3vw;
    align-items: center;
}
h1, h3 {
    font-family: 'Shadows into Light';
}

/* LEFT / RIGHT COLS */
.left {
    background-image: url("foad-roshan-TtDNu-Heh3Y-unsplash.jpg");
    background-size: cover;
    
    height: 100vh;
    width: 30vw;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.right {
    background-color: white;

    width: 55vw;
    padding: 3%;

    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* LEFT COL */
.left header {
    background-color:rgba(255, 192, 203, 0.402);

    padding: 15px;
    margin-top: 40%;

    text-align: center;
}
.left h1 {
    font-size: 3rem;
}
.left .photo-credit {
    padding: 15px;
}

/* RIGHT FORM */
.right h3 {
    font-size: 1.5rem;
}
.right form {
    border: 3px dashed pink;

    padding: 25px;

    display: flex;
    flex-direction: column;
    gap: 25px;
}

form .text-inputs {
    display: flex;
    gap: 40px;
}
.left-text, .right-text {
    list-style-type: none;

    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
li.text-input {
    display: flex;
    flex-direction: column;
}

form .radio-inputs {
    border: 2px solid pink;
    padding: 20px;

    display: flex;
    gap: 40px;
}

form button {
    width: 40%;
    padding: 10px;

    align-self: center;
}
