/* MAIN / BODY */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Inconsolata', 'Times New Roman', Times, serif;
    color: var(--text);
    background-color: var(--main);

    height: 100vh;
    display: flex;
    gap: 3vw;
    align-items: center;
}
h1, h3 {
    font-family: 'Shadows into Light', 'Brush Script MT', cursive;
}

/* LEFT / RIGHT COLS */

.left {
    background-size: cover;
    
    height: 100vh;
    width: 30vw;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.right {
    background-color: var(--bg);

    width: 55vw;
    padding: 3%;

    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* LEFT COL */

.left header {
    background-color: var(--translucent);

    padding: 15px;
    margin-top: 40%;

    text-align: center;
}
.left h1 {
    font-size: 3rem;
}
.left .photo-credit {
    color: var(--credit);
    padding: 15px;
    text-align: right;
}

/* RIGHT FORM */

.right h3 {
    font-size: 1.5rem;
}
.right form {
    border: 3px dashed var(--main);

    padding: 25px;

    display: flex;
    flex-direction: column;
    gap: 25px;
}